@page
@model ContosoCrafts.WebSite.Pages.MapModel
@{
    ViewData["Title"] = "Map";
}

<h1 class="white-text">@ViewData["Title"]</h1>
<br>
<h3 align="center" class="white-text">1. Browse our favorite spots to fish!</h3>
<br>
<br>

<div align="center">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CidasMCwKj785kQVDi1EZOETwwd1xa8w" width="700" height="480"></iframe>
</div>

<br />

<!--Container to display all user posts-->
<div class="container">
    <!--Table to display all user posts.-->
    <table class="table table-bordered table-striped white-text">
        <thead>
            <tr>
                <th><i class="fas fa-water"></i> Name</th>
                <th><i class="fas fa-map-pin"></i> City</th>
                <th><i class="fas fa-link"></i> Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fishingSpot in Model.FishingSpots)
            {
                <tr>
                    <td>@fishingSpot.SpotName</td>
                    <td>@fishingSpot.City</td>
                    <td><a target="_blank" class="link-text" href="@fishingSpot.Url">@fishingSpot.Url</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br>
<h3 align="center" class="white-text"><b>Any fishing spots you would like added to the map?</b></h3>
<form align="center">
    <div align="center" class="form-group">
        <input class="form-control" placeholder="Enter Fishing Spot Name">
        <small class="form-text white-text">Any lake or river you enjoy fishing at!</small>
    </div>
    <div align="center" class="form-group">
        <input class="form-control" placeholder="Enter Coordinates (optional)">
        <small class="form-text white-text">This will help us pinpoint the exact location!</small>
    </div>
    <button align="center" type="submit" class="btn btn-primary">Submit</button>
</form>
<br>

<hr />

<br>
<br>
<br>
<h3 align="center" class="white-text">2. Browse the best Fishing tackle & supply store around Seattle Area</h3>
<br>
<br>
<div align="center">
    <iframe src="https://www.google.com/maps/d/embed?mid=16GZE58hCdKqXPaNoh2jril2O6PnPm1N7" width="640" height="480"></iframe>
</div>